# Hey Listen
# http://heylisten.nl/
# @author Daan van der Zwaag

## Node.js
lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
pids
logs
results
npm-debug.log
node_modules

## Bower
src/components

## Sass
.sass-cache

## OS X
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes

## Root level
Thumbs.db
.DS_Store
*.sublime-project
*.sublime-workspace
*.sass-cache
*.settings

## Kirby

/site/accounts
/site/cache
/thumbs/*
/assets/avatars/*

## Build files

# .gitignore these, or run a clean before every push, 

# /assets/css/*.css*
# /assets/images/* add this when we're processing images with Gulp
# /assets/js/*
# /src/js/app.js

# reminder: set up environments for the config
# config.dev.mysite.com.php
# config.mysite.com.php

# hidden/inactive content
