/*----- Glitches -----*/

.logo--dirtcaps {
  -webkit-animation: track 5ms infinite;
  animation: track 5ms infinite;
}

.trackthis {
  animation: track 5ms infinite, flickSmall 50ms infinite, jumpSmall 4s infinite;
}

$offset1: 6px;
$offset2: -6px;
$highlight1: blue;
$highlight2: red;
$highlight3: green;

@keyframes dropShadow {
  32% {
    -webkit-filter: drop-shadow(0);
    filter: none;
  }
  33% {
    -webkit-filter: drop-shadow(-3px 1px 0px $highlight1);
  }
  34% {
    -webkit-filter: drop-shadow(0);
    filter: none;
  }
  48% {
    -webkit-filter: drop-shadow(0);
    filter: none;
  }
  49% {
    -webkit-filter: drop-shadow(-4px -2px 0px $highlight2);
  }
  50% {
    -webkit-filter: drop-shadow(0);
    filter: none;
  }
  97% {
    -webkit-filter: drop-shadow(0);
    filter: none;
  }
  98% {
    -webkit-filter: drop-shadow(4px -3px 0px $highlight3);
  }
  99% {
    -webkit-filter: drop-shadow(0);
    filter: none;
  }
}


@keyframes glitch-anim--logo {
  $steps: 12;
  @for $i from 0 through $steps {
    #{percentage($i*(1/$steps))} {
      clip: rect(random(600)+px, 9999px, random(600)+px, 0);
      top: -+random(6)+px;
      left: random(6)+px;
    }
  }
}

@keyframes glitch-anim--link__1 {
  $steps: 5;
  @for $i from 0 through $steps {
    #{percentage($i*(1/$steps))} {
      clip: rect(random(60)+px, 9999px, random(140)+px, 0);
    }
  }
}

@keyframes glitch-anim--link__2 {
  $steps: 5;
  @for $i from 0 through $steps {
    #{percentage($i*(1/$steps))} {
      clip: rect(random(60)+px, 9999px, random(140)+px, 0);
      top: -+random(6)+px;
      left: random(6)+px;
    }
  }
}


@keyframes blur {
  0% {
    filter: blur(1px);
    opacity: 0.8;
  }

  50% {
    filter: blur(1px);
    opacity: 1;
  }

  100% {
    filter: blur(1px);
    opacity: 0.8;
  }
}
@keyframes flick {
  50% {
    transform: translateX(2px);
  }

  51% {
    transform: translateX(0);
  }
}
@keyframes flickSmall {
  50% {
    transform: translateX(2px);
  }

  51% {
    transform: translateX(0);
  }
}
@keyframes jump {
  30% {
    transform: translateY(10px);
  }

  31% {
    transform: translateY(0);
  }
}
@keyframes jumpSmall {
  30% {
    transform: translateY(2px);
  }

  31% {
    transform: translateY(0);
  }
}

/*
From Greg Opperman
http://codepen.io/gopperman/pen/dElzr?editors=001
*/

@keyframes track {
  40% {
    opacity: 1;
    transform: translate3D(0, 0, 0);
    transform: scale(1, 1);
    transform: skew(0, 0);
  }

  41% {
    opacity: 0.8;
    transform: translate3D(-20px, 0, 0);
    transform: scale(1, 1.2);
    transform: skew(50deg, 0);
  }

  42% {
    opacity: 0.8;
    transform: translate3D(20px, 0, 0);
    transform: scale(1, 1.2);
    transform: skew(-80deg, 0);
  }

  43% {
    opacity: 1;
    transform: translate3D(0, 0, 0);
    transform: scale(1, 1);
    transform: skew(0, 0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}


/*----- Animations Header & Loading -----*/

/* Initial animation of header elements */

.loading {
  .ip-logo {
    opacity: 1;
    animation: animInitialHeader 1s cubic-bezier(0.7, 0, 0.3, 1) both;
  }
  .ip-loader {
    opacity: 1;
    animation: animInitialHeader 1s cubic-bezier(0.7, 0, 0.3, 1) both;
    animation-delay: 0.2s;
  }
}

@keyframes animInitialHeader {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 800px, 0);
    transform: translate3d(0, 800px, 0);
  }
}


/* Header elements when loading finishes */

.loaded {
  .ip-logo, .ip-loader {
    opacity: 1;
  }
  .ip-logo {
    transform-origin: 50% 0;
    animation: animLoadedLogo 1s cubic-bezier(0.7, 0, 0.3, 1) forwards;
  }
  .ip-loader {
    animation: animLoadedLoader 0.5s cubic-bezier(0.7, 0, 0.3, 1) forwards;
  }
  .ip-logo svg path {
    transition: all 0.5s ease 0.3s;
    fill: $color-white;
  }
  .ip-header {
    animation: animLoadedHeader 1s cubic-bezier(0.7, 0, 0.3, 1) forwards;
  }
  .ip-main .flexgrid .grid-item--flex .player {
    animation: animLoadedContent 1s cubic-bezier(0.7, 0, 0.3, 1) both;
  }
}

@keyframes animLoadedLogo {
  to {
    top: initial;
    bottom: 0;
    transform: translate3d(0, 100%, 0) translate3d(0, 110px, 0) scale3d(0.8, 0.8, 1);

  }
}


@keyframes animLoadedLoader {
  to {
    opacity: 0;
    transform: translate3d(0, -100%, 0) scale3d(0.3, 0.3, 1);
  }
}

/* Header animation when loading finishes */

@keyframes animLoadedHeader {
  to {
    transform: translate3d(0, -100%, 0);
  }
}


/* Content animations */

@for $i from 1 to 20 {
  .loaded .ip-main .flexgrid .grid-item--flex:nth-child(#{$i}) .player { animation-delay: $i * 0.2s; }
}

@keyframes animLoadedContent {
  from {
    transform: translateY(20%);
  }
}
