/*----- Glitches -----*/

.logo--dirtcaps {
  -webkit-animation: track 5ms infinite;
  animation: track 5ms infinite;
}

.trackthis {
  animation: track 5ms infinite, flickSmall 50ms infinite, jumpSmall 4s infinite;
}

$offset1: 3px;
$offset2: -3px;
$highlight1: red;
$highlight2: green;
$highlight3: blue;

@keyframes dropShadow {
  32% {
    -webkit-filter: drop-shadow(0);
    filter: none;
  }
  33% {
    -webkit-filter: drop-shadow(-3px 1px 0px $highlight1);
  }
  34% {
    -webkit-filter: drop-shadow(0);
    filter: none;
  }
  48% {
    -webkit-filter: drop-shadow(0);
    filter: none;
  }
  49% {
    -webkit-filter: drop-shadow(-4px -2px 0px $highlight2);
  }
  50% {
    -webkit-filter: drop-shadow(0);
    filter: none;
  }
  97% {
    -webkit-filter: drop-shadow(0);
    filter: none;
  }
  98% {
    -webkit-filter: drop-shadow(4px -3px 0px $highlight3);
  }
  99% {
    -webkit-filter: drop-shadow(0);
    filter: none;
  }
}


@keyframes glitch-anim--logo {
  $steps: 12;
  @for $i from 0 through $steps {
    #{percentage($i*(1/$steps))} {
      clip: rect(random(600)+px, 9999px, random(600)+px, 0);
      top: -+random(6)+px;
      left: random(6)+px;
    }
  }
}

@keyframes glitch-anim--link__1 {
  $steps: 5;
  @for $i from 0 through $steps {
    #{percentage($i*(1/$steps))} {
      clip: rect(random(60)+px, 9999px, random(140)+px, 0);
    }
  }
}

@keyframes glitch-anim--link__2 {
  $steps: 5;
  @for $i from 0 through $steps {
    #{percentage($i*(1/$steps))} {
      clip: rect(random(60)+px, 9999px, random(140)+px, 0);
      top: -+random(6)+px;
      left: random(6)+px;
    }
  }
}


@keyframes blur {
  0% {
    filter: blur(1px);
    opacity: 0.8;
  }

  50% {
    filter: blur(1px);
    opacity: 1;
  }

  100% {
    filter: blur(1px);
    opacity: 0.8;
  }
}
@keyframes flick {
  50% {
    transform: translateX(2px);
  }

  51% {
    transform: translateX(0);
  }
}
@keyframes flickSmall {
  50% {
    transform: translateX(2px);
  }

  51% {
    transform: translateX(0);
  }
}
@keyframes jump {
  30% {
    transform: translateY(10px);
  }

  31% {
    transform: translateY(0);
  }
}
@keyframes jumpSmall {
  30% {
    transform: translateY(2px);
  }

  31% {
    transform: translateY(0);
  }
}

/*
From Greg Opperman
http://codepen.io/gopperman/pen/dElzr?editors=001
*/

@keyframes track {
  40% {
    opacity: 1;
    transform: translate3D(0, 0, 0);
    transform: scale(1, 1);
    transform: skew(0, 0);
  }

  41% {
    opacity: 0.8;
    transform: translate3D(-20px, 0, 0);
    transform: scale(1, 1.2);
    transform: skew(50deg, 0);
  }

  42% {
    opacity: 0.8;
    transform: translate3D(20px, 0, 0);
    transform: scale(1, 1.2);
    transform: skew(-80deg, 0);
  }

  43% {
    opacity: 1;
    transform: translate3D(0, 0, 0);
    transform: scale(1, 1);
    transform: skew(0, 0);
  }
}
