h1 + a {
  color: white;
  text-decoration: none;
  transition: all 0.3s linear;
}

h1 + a:hover {
  transition: all 0.3s linear;
  text-shadow: rgb(0, 220, 147) 1px 1px, rgb(0, 220, 147) 2px 2px, rgb(0, 220, 147) 3px 3px, rgb(0, 220, 147) 4px 4px, rgb(0, 220, 147) 5px 5px;
}
/*--------------*/
/* Flexbox grid */
/*--------------*/
.flexgrid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100%;
  margin-bottom: 5px;
  margin-right: -$size--padding__grid-item;
  @include media("<phone") {
    margin-right: 0;
  }
}

.grid-item--flex {
  width: $size--width__grid-item - $size--padding__grid-item;

  &:nth-child(5n+0) {
    margin-right: 0;
  }
  @include media(">tablet", "<=desktop") {
    width: 25% - $size--padding__grid-item;

    &:nth-child(5n+0) {
      margin-right: $size--padding__grid-item;
    }
  }
  @include media("<tablet") {
    width: 50% - $size--padding__grid-item;

    &:nth-child(5n+0) {
      margin-right: $size--padding__grid-item;
    }
  }
  @include media("<phone") {
    width: 100%;
    margin-right: 0;
  }

  img {
    display: block;
    width: 100%;
    transition: all 0.3s linear;
  }
}

.element--center {
  display: flex;
  align-items: center;
  justify-content: center;
}
/*----- Warp shit -----*/
.logo--dirtcaps {
  -webkit-animation: track 5ms infinite;
  animation: track 5ms infinite;
}

iframe {
  animation: track 5ms infinite, flickSmall 50ms infinite, jumpSmall 4s infinite;
}
@keyframes blur {
  0% {
    -webkit-filter: blur(1px);
    filter: blur(1px);
    opacity: 0.8;
  }

  50% {
    -webkit-filter: blur(1px);
    filter: blur(1px);
    opacity: 1;
  }

  100% {
    -webkit-filter: blur(1px);
    filter: blur(1px);
    opacity: 0.8;
  }
}
@keyframes flick {
  50% {
    -webkit-transform: translateX(2px);
    transform: translateX(2px);
  }

  51% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes flickSmall {
  50% {
    -webkit-transform: translateX(2px);
    transform: translateX(2px);
  }

  51% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes jump {
  30% {
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
  }

  31% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes jumpSmall {
  30% {
    -webkit-transform: translateY(2px);
    transform: translateY(2px);
  }

  31% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
/*
From Greg Opperman
http://codepen.io/gopperman/pen/dElzr?editors=001
*/
@keyframes track {
  40% {
    opacity: 1;
    -webkit-transform: translate3D(0, 0, 0);
    transform: translate3D(0, 0, 0);
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    -webkit-transform: skew(0, 0);
    transform: skew(0, 0);
  }

  41% {
    opacity: 0.8;
    -webkit-transform: translate3D(-20px, 0, 0);
    transform: translate3D(-20px, 0, 0);
    -webkit-transform: scale(1, 1.2);
    transform: scale(1, 1.2);
    -webkit-transform: skew(50deg, 0);
    transform: skew(50deg, 0);
  }

  42% {
    opacity: 0.8;
    -webkit-transform: translate3D(20px, 0, 0);
    transform: translate3D(20px, 0, 0);
    -webkit-transform: scale(1, 1.2);
    transform: scale(1, 1.2);
    -webkit-transform: skew(-80deg, 0);
    transform: skew(-80deg, 0);
  }

  43% {
    opacity: 1;
    -webkit-transform: translate3D(0, 0, 0);
    transform: translate3D(0, 0, 0);
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    -webkit-transform: skew(0, 0);
    transform: skew(0, 0);
  }
}
/*---- Spinner CSS ----*/
.lazy-hidden {
  background: transparent url('../img/ring.svg') no-repeat 50% 50%;
}
