/*--------------*/
/* Flexbox grid */
/*--------------*/
.flexgrid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100%;
  margin-bottom: 5px;
  margin-right: -$size--padding__grid-item;
  @include media("<phone") {
    margin-right: 0;
  }
}

.grid-item--flex {

  width: ($size--width__grid-item * 1.25) - $size--padding__grid-item;
  transition: all 300ms ease-in-out;

  @include media(">bigassscreen") {
    width: $size--width__grid-item - $size--padding__grid-item;
  }
  @include media("<tablet") {
    width: $size--width__grid-item * 2.5 - $size--padding__grid-item;
  }
  @include media("<phone") {
    width: 100%;
    margin: ($size--padding__grid-item * 2) 0;
  }
  img {
    display: block;
    width: 100%;
    transition: all 0.3s linear;
  }
}
.element--center {
  display: flex;
  align-items: center;
  justify-content: center;
}
