a {
  color: white;
  text-decoration: none;
  transition: all 0.3s linear;
}

a:hover {
  transition: all 0.3s linear;
  text-shadow: rgb(0, 220, 147) 1px 1px, rgb(0, 220, 147) 2px 2px, rgb(0, 220, 147) 3px 3px, rgb(0, 220, 147) 4px 4px, rgb(0, 220, 147) 5px 5px;
}
