.logo {
  a {
    color: $color-white;
    filter: url(#drop-shadow);

    svg {
      fill: #94d31b;
      filter: url(#drop-shadow);
      width: 100%;
      height: auto;
    }
  }
}

.glitch {
  fill: $color-white;
  position: relative;
  display: inline-block;

  #ip--logo__svg {
    height: $size--logo;
  }

  svg {
    fill: $highlight2;
    animation: dropShadow 4000ms infinite ease-in-out alternate-reverse;
    width: 100%;
    height: auto;
  }

  &:after,
  &:before {
    content: url(http://heylisten.dvdz.design/assets/images/logo_hey-listen_V1.svg);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
  }

  &:before {
    left: $offset1;
    animation: glitch-anim--logo 9s infinite ease-in alternate-reverse;
  }

  &:after {
    left: $offset2;
    animation: glitch-anim--logo 12s infinite ease-out alternate-reverse;
  }
}
