::selection{
  background: $color-black;
  color: $color-white;
  text-shadow: none;
}
::-moz-selection{
  background: $color-black;
  color: $color-white;
  text-shadow: none;
}
::-webkit-selection{
  background: $color-black;
  color: $color-white;
  text-shadow: none;
}

/*---- Spinner CSS ----*/

.lazy-hidden {
  background: transparent url('../img/ring.svg') no-repeat 50% 50%;
}
