/* Music Board */
.music-player {
  position: relative;
  overflow: hidden;
  max-height: $size--music-element__inner * 2;
  transition: all 400ms $transition--smooth__one;
  opacity: 1; //  min-height: 10em;
  height: 100%; //  background-color: lighten( $color-black, 20%);
  margin: 0 $size--padding__grid-item $size--padding__grid-item 0;

  .iframe--wrapper {
    height: $size--music-element__inner;
    background-color: lighten( $color-black, 20%);
    position: relative;

    div {
      transition: background-color 300ms ease-in;
    }

    .embed.embed--rich {
      // &.embed--Spotify {
      //   @extend %filter-heylisten_green;
      // }
      //
      // &.embed--SoundCloud {
      //   @extend %filter-heylisten_blue;
      // }
      //
      // &.embed--YouTube {
      //   @extend %filter-heylisten_red;
      //   position: initial;
      // }
      &:after,
      &:before {
        transition: background-color 200ms $transition--smooth__one;
      }
      &.embed--YouTube {
        position: initial;
      }
    }

    iframe {
      height: $size--music-element__inner;
      width: 100%;
      //  filter: grayscale(100%);
    }
  }

  &:nth-child(1n+1) {
    .iframe--wrapper {
      .embed {
        @extend %filter-heylisten_red;
      }
    }
  }

  &:nth-child(2n+2) {
    .iframe--wrapper {
      .embed {
        @extend %filter-heylisten_green;
      }
    }
  }

  &:nth-child(3n+3) {
    .iframe--wrapper {
      .embed {
        @extend %filter-heylisten_blue;
      }
    }
  }

  &:hover {
    transition: all 400ms $transition--smooth__one;
    box-shadow: long-shadow( $direction: 45deg, $length: $size--distance__popout, $color: $color-white, $fade: $color-white );
    transform: translate(-$size--distance__popout, -$size--distance__popout);

      &:nth-child(1n+1) {
        .iframe--wrapper {
          .embed {
            &:after,
            &:before {
                background-color: rgba($hl-red, 0);
              }
          }
        }
      }

      &:nth-child(2n+2) {
        .iframe--wrapper {
          .embed {
            &:after,
            &:before {
                background-color: rgba($hl-green, 0);
              }
            }
        }
      }

      &:nth-child(3n+3) {
        .iframe--wrapper {
          .embed {
            &:after,
            &:before {
                background-color: rgba($hl-blue, 0);
              }
          }
        }
      }
    }


  @include media(">phone", "<=tablet") {
    opacity: 1;
    margin-bottom: 5px;

    &:hover {
      transform: none;
      box-shadow: none;
    }
  }
  @include media("<phone") {
    border: 0;

    &:hover {
      transition: none;
      box-shadow: none;
      transform: none;
    }
  }
}

.info--section {
  color: white;
  text-align: center;
  padding: 5%;
  // min-height: 75px;
  display: none;

  h3 {
    font-size: 1em;
  }
}
