/* Music Board */
.music-player {
  position: relative;
  overflow: hidden;
  max-height: $size--music-element__inner * 2;
  transition: all 400ms $transition--smooth__one;
  opacity: 1;
//  min-height: 10em;
  height: 100%;
//  background-color: lighten( $color-black, 20%);
  margin: 0 $size--padding__grid-item $size--padding__grid-item 0;

  .iframe--wrapper {
    height: $size--music-element__inner;
    background-color: lighten( $color-black, 20%);
    position: relative;

    @extend %nashville;
    iframe {
      height: $size--music-element__inner;
      width: 100%;
    }
  }

  &:hover {
      transition: all 400ms $transition--smooth__one;
      box-shadow: long-shadow( $direction: 45deg, $length: $size--distance__popout, $color: $color-white, $fade: $color-white );
      transform: translate(-$size--distance__popout, -$size--distance__popout);

    .iframe--wrapper {
      &:after,
      &:before {
        background: transparent;
      }
    }
  }
  @include media(">phone", "<=tablet") {
    opacity: 1;
    margin-bottom: 5px;

    &:hover {
      transform: none;
      box-shadow: none;
    }
  }
  @include media("<phone") {
    border: 0;
  }
  // Specific classes in combination with Kirby Plugin oEmbed
  .kirby-plugin-oembed--YouTube {
    position: initial;
  }
}

.info--section {
  color: white;
  text-align: center;
  padding: 5%;
  // min-height: 75px;
  display: none;
  h3 {
    font-size: 1em;
  }
}
