/* Music Board */
.music-player {
  position: relative;
  overflow: hidden;
  max-height: $size--music-element__inner * 2;
  transition: all 400ms $transition--smooth__one;
  opacity: 1; //  min-height: 10em;
  height: 100%; //  background-color: lighten( $color-black, 20%);
  margin: 0 $size--padding__grid-item $size--padding__grid-item 0;

  .iframe--wrapper {
    height: $size--music-element__inner;
    background-color: lighten( $color-black, 20%);
    position: relative;

    div {
      transition: background-color 300ms ease-in;
    }

    .kirby-plugin-oembed {
      &.kirby-plugin-oembed--Spotify {
        @extend %filter-heylisten_green;
      }

      &.kirby-plugin-oembed--SoundCloud {
        @extend %filter-heylisten_blue;
      }

      &.kirby-plugin-oembed--YouTube {
        @extend %filter-heylisten_red;
        position: initial;
      }
    }

    iframe {
      height: $size--music-element__inner;
      width: 100%;
    //  filter: grayscale(100%);
    }
  }

  &:hover {
    transition: all 400ms $transition--smooth__one;
    box-shadow: long-shadow( $direction: 45deg, $length: $size--distance__popout, $color: $color-white, $fade: $color-white );
    transform: translate(-$size--distance__popout, -$size--distance__popout);

    .player .iframe--wrapper {

      div {
        &:after,
        &:before {
            background-color: rgba($hl-green, 0);
            background: transparent;
          }
      }
      // &.filter-heylisten_green {
      //   &:after {
      //     background-color: rgba($hl-green, 0);
      //   }
      // }
      //
      // &.filter-heylisten_blue {
      //   &:after {
      //     background-color: rgba($hl-blue, 0);
      //   }
      // }
      //
      // &.filter-heylisten_red {
      //     background-color: rgba($hl-red, 0);
      //     background-color: white;
      //   &:after {
      //     background-color: rgba($hl-red, 0);
      //   }
      // }

      iframe {
      //  filter: grayscale(0);
      }
    }

  }

  @include media(">phone", "<=tablet") {
    opacity: 1;
    margin-bottom: 5px;

    &:hover {
      transform: none;
      box-shadow: none;
    }
  }
  @include media("<phone") {
    border: 0;

    &:hover {
      transition: none;
      box-shadow: none;
      transform: none;
    }
  }
}

.info--section {
  color: white;
  text-align: center;
  padding: 5%;
  // min-height: 75px;
  display: none;

  h3 {
    font-size: 1em;
  }
}
