/* Credits: http://tympanus.net/codrops/2014/08/05/page-preloading-effect/ */

.ip-header {
  position: fixed;
  top: 0;
  z-index: 10;
  min-height: 100vh;
  width: 100%;
  height: 100%;
  background: $color-black;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  .ip-logo {
    margin: 0;
    text-align: center;
  }
}

.ip-logo, .ip-loader {
  position: absolute;
  left: 0;
  width: 100%;
  opacity: 0;
  cursor: default;
  pointer-events: none;
}

.ip-logo {
  top: 0;
  height: 100%;
  transform: translate3d(0, 25%, 0);
}

.ip-loader {
  bottom: 20%;
}

.ip-header {
  .ip-inner {
    display: block;
    margin: 0 auto;
  }
  .ip-logo svg {
    min-width: $size--logo;
    max-width: $size--logo;
    width: 25%;
    path {
      fill: $color-white;
    }
    @include media("<phone") {
      min-width: $size--logo / 2;
      max-width: $size--logo / 2;
    }
  }
  .ip-loader svg path {
    fill: none;
    stroke-width: 3;
    &.ip-loader-circlebg {
      stroke: lighten( $color-black, 20%);
      stroke: #333;
    }
    &.ip-loader-circle {
      transition: stroke-dashoffset 0.2s;
      stroke: $color-white;
    }
  }
}

/* Change layout class for header */

.layout-switch .ip-header {
  position: absolute;
}

/* No JS */

.no-js .ip-header {
  position: relative;
  min-height: 0px;
  .ip-logo {
    margin-top: 20px;
    height: 180px;
    opacity: 1;
    -webkit-transform: none;
    transform: none;
    svg path {
      fill: $color-white;
    }
  }
}
