/* Full credits go to: https://github.com/una/CSSgram */
/* Made some custom adjustments */

@mixin pseudo-elem {
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  pointer-events: none;
}

@mixin filter-base {
  position: relative;

  .embed.embed--rich {
    z-index: 1;
  }

  &:before {
    @include pseudo-elem;
    z-index: 2;
  }

  &:after {
    @include pseudo-elem;
    z-index: 3;
  }
}

/*
 *
 * Hey Listen! x RGB
 *
 */

// Made for Hey Listen by Daan van der Zwaag 12/12/16

$hl-alpha: 0.75;
$hl-red: red;
$hl-green: green;
$hl-blue: blue;


@mixin filter-heylisten_red($filters...) {
  @include filter-base;

  &::before {
    background-color: black;
    mix-blend-mode: lighten;
    mix-blend-mode: hue;

  }

  &::after {
   background-color: rgba($hl-red, $hl-alpha);
   mix-blend-mode: screen;
  }

  @content;
}

%filter-heylisten_red,
.filter-heylisten_red {
  @include filter-heylisten_red;

}

// green

@mixin filter-heylisten_green($filters...) {
  @include filter-base;

  &::before {
    background-color: black;
    mix-blend-mode: lighten;
    mix-blend-mode: hue;
  }

  &::after {
   background-color: rgba($hl-green, $hl-alpha);
   mix-blend-mode: screen;
  }

  @content;
}

%filter-heylisten_green,
.filter-heylisten_green {
  @include filter-heylisten_green;

}

// blue

@mixin filter-heylisten_blue($filters...) {
  @include filter-base;

  &::before {
    background-color: black;
    mix-blend-mode: lighten;
    mix-blend-mode: hue;
  }

  &::after {
   background-color: rgba($hl-blue, $hl-alpha);
   mix-blend-mode: screen;
  }

  @content;
}

%filter-heylisten_blue,
.filter-heylisten_blue {
  @include filter-heylisten_blue;

}
